#variáveis presentes no arquivo .env que deve ser configurado para subir o docker-compose
#deve-se alterar a senha para a mesma que foi colocado no arquivo de configuração do banco.
POSTGRES_DB=banvic
POSTGRES_USER=banvic
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432